extends ./layout
block head
  link(href="css/profile.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" )
block body
  .row
    .col-md-6
      h2 Mi perfil
      br
      h4 Nombre
      p= user.firstName
      h4 Correo electrónico
      p= user.email
      h4 Comunidad
      p= user.state
      h4 Ciudad
      p= user.town
      h4 Tipo de perfil
      - if (user.isTeacher) {
        p Profesor
      - } else {
        p Alumno
      - }
      - if (user.language) {
        h4 Idioma
        p= user.language
      - }
    .col-md-6(style="margin-top: 4em")
      img(src="images/favicon.png" width="335px" height="261px")
  - if (user.isTeacher) {
    div(style="float: left; width: 22%" ng-controller="availabilityController")
      div(id='event-add')
        button(id="addAvailabilityButton") Añadir fecha no disponible
        br
        div(id="form" style="margin-left: auto;margin-right: auto")
          form(name="availability-form" ng-submit="submitCalendarForm()" )
            p(style="text-align: left") Inicio:
            input(name="start" type="datetime-local" style="width: 95%" ng-model="form.start")
            p(style="text-align: left") Fin:
            input(name="end" type="datetime-local" style="width: 95%" ng-model="form.end")
            br
            br
            input(type="submit" style="margin-left: auto; margin-right: auto")
      div(id="event-delete" title="") ¿Desea cambiar la disponibilidad?
        p(id="event-delete-info")
        button(id="event-delete-button") Eliminar del calendario
    div(id="calendar" style="width: 60%;margin-left: auto;margin-right: auto; overflow: auto" )
  - } else {
    h2 Nivel y logros
    h4 Nivel
    p= user.level
    h4 experiencia
    div(class="empty-bar" ng-controller="achievementsController", ng-init="userExperience=" + JSON.stringify(user.experience))
      div(id="exp-progress-bar" ng-style="{width : userExperience + '%'}")
    div
      each val in user.achievements
        p=val.description | p=val.points
  - }
block scripts
  script(src="https://momentjs.com/downloads/moment.js")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js")
  script(src="js/controllers/availability.js")
  script(src="js/controllers/achievements.js")
  script(src="js/services/availability.js")
  script(src="js/screens/availability-form.js")
  script(src="js/screens/locale-all.js")
