extends ./layout
include ./mixins/socialbar
include ./mixins/review
block head
  link(href="css/profile.css" rel="stylesheet")
  link(href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" )
block body
  .row(style="margin-top: 3em")
    .col-md-6
      h1(style="margin-bottom: 2em") Perfil de profesor
      h4 Nombre
      p= selectedUser.firstName
      h4 Correo electrónico
      p= selectedUser.email
      h4 Comunidad
      p= selectedUser.state
      h4 Ciudad
      p= selectedUser.town
      - if (selectedUser.language) {
        h4 Idioma
        p= selectedUser.language
      - }
    .col-md-6(style="margin-top: 4em")
      img(src="/images/favicon.png" width="335px" height="261px")
  .row
    .col-md-12
      +socialbar()
  .row
    form.col-md-6(ng-controller="reviewController" ng-cloak)
      .form-group
        label(for="valoration") Valoración
        input.form-control#valoration(type="number" name="valoration" ng-model = "valoration")
      .form-group
        label(for="comment") Comentario
        input.form-control#comment(type="text" name="comment" ng-model = "comment")
      .form-group
        button.btn.btn-primary(ng-click="saveReview(user.id, selectedUser.id)" style="width: 100%;") Comentar      
  .row
    .col-md-12
      each val in selectedUser.reviews
       +review-card(val)

  .row
    div(style="float: left; width: 22%" ng-controller="availabilityController")
    div(id="calendar" style="width: 60%;margin-left: auto;margin-right: auto; overflow: auto" )
block scripts
    script(src="https://momentjs.com/downloads/moment.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js")
    script(src="../js/controllers/availability.js")
    script(src="../js/services/availability.js")
    script(src="../js/screens/locale-all.js")
    script(src="../js/services/review.js")
    
